<?xml version="1.0" encoding="UTF-8"?>
<!--
	SPDX-License-Identifier: GPL-2.0

	Copyright (C) 2019 WireGuard LLC. All Rights Reserved.

<?if $(var.WindowsTun_PLATFORM) = "amd64"?>
	<?define UpgradeCode = "c3471432-6160-4f6f-9b57-98df270eea66"?>
<?elseif $(var.WindowsTun_PLATFORM) = "x86"?>
	<?define UpgradeCode = "0f32ba50-7db1-4e45-9528-3f7fbb3d63bb"?>
<?else?>
	<?error Unknown platform ?>
<?endif?>

-->

<?define UpgradeCode = "c3471432-6160-4f6f-9b57-98df270eea66"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product
		Id="*"
		Name="WindowsTun"
		Language="1033"
		Version="1.0"
		Manufacturer="bring.out doo Sarajevo"
		UpgradeCode="$(var.UpgradeCode)">
		<Package
			InstallerVersion="400"
			Compressed="yes"
			InstallScope="perMachine"
			Description="WindowsTun: bring.out doo Sarajevo Distribution of Wintun"
			ReadOnly="yes" />

		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />

		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="ARPSYSTEMCOMPONENT" Value="1" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="DISABLEROLLBACK" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />

		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed."
			Schedule="afterInstallExecute" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Merge Id="WintunMergeModule" Language="0" DiskId="1" SourceFile=".deps\wintun-amd64.msm" />
		</Directory>

		<Feature Id="WintunFeature" Title="Wintun" Level="1">
			<MergeRef Id="WintunMergeModule" />
		</Feature>
	</Product>
</Wix>
